# ============================
# Python / Jupyter
# ============================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/


# ============================
# OS依存ファイル
# ============================
.DS_Store
Thumbs.db
desktop.ini

# ============================
# プロジェクト固有
# ============================
data/          # 元データ（非公開推奨）
database/

# ============================
# 環境ファイル
# ============================
.env           # APIキーや秘密情報
.vscode/       # VSCode設定
.src.egg-info/  # パッケージ情報
.env.*.local

# ============================
# Docker / PostgreSQL / node
# ============================
postgres_data/
*.log
frontend/node_modules/
